html	{
	min-height: 100%;
	background: linear-gradient( rgba(0, 0, 255, 0.1), rgba(255, 0, 0, 0.1) ), url("http://goo.gl/RfLwZH") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: white;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2em;
}
	
/*Navigation--------------------------------------------------------------------*/
.nav, .navbar, .navbar-nav	{
    border: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: black;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-brand	{
	color: white;
	font-size: 1.1em;
}

.navbar-inverse .navbar-nav > li > a:hover	{
	color: rgb(255,123,51);
}

/*Center-------------------------------------------------------------------*/

.main {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 5px;
}

h1	{
	font-size: 5.7em;
}

.btn, a.btn:focus	{
	font-size: 1.1em;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 0;
}

a.btn:hover	{
	background-color: rgba(191,90,255,0.3);
	color: white;
	border: 2px solid white;
	transition: all 0.3s ease 0s;
}

/*footer---------------------------------------------------------------------*/

footer	{
	background: black;
	padding: 5px 10px;
}

/*Responsive CSS-------------------------------------------------------------*/
@media screen and (max-width: 768px)	{
	
	.navbar-nav>li {
        float: none;
        display: inline-block;
    }
}