body	{
	background-image: url("images/background.JPG"); /* photography by me, taken in Ricketts Glen */
	background-size: 100%;
    	background-repeat: no-repeat;
}

h1	{
	color: #eee;
}

.pull-right img	{
	width: 400px;
	height: auto;
	opacity: 0.8;
	margin: 10px;
}

.pull-right img:hover {
	opacity: 1.0;
	}
	
.roswell	{
	position: relative;
	top: 55px;
}

.icon	{
	height: 35px;
	width: 35px;
}

a:link {
	text-decoration: none;
}
