body	{
	background-image: url("images/bg1.png");
}
/*--Navbar
-----------------------------------------------------------------*/

.navbar.navbar-inverse	{
	background-color: rgba(24,24,24, 0.7);
}

.navbar-inverse .navbar-nav>li>a	{
	color: #a2b1b8;
}

/*--Sidebar
-----------------------------------------------------------------*/

.blockone	{
	background-color: white;
	padding: 25px 10px 5px 10px;
	border-radius: 5px 5px 0 0;
}

.blocktwo	{
	background-color: rgba(129, 54, 62, 0.5);
	padding: 10px 10px 5px 10px;
	color: black;
}

.sidebar-header	{
	font-size: 20px !important;
}

.sidebar p	{
	font-size: 16px;
	text-align: center;
}

.naclnc-image	{
	display: block;
	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid black;
}

#naclnc-note	{
	font-size: 12px;
}

/*--Content
-----------------------------------------------------------------*/

.jumbotron	{
	font-family: 'Arimo', sans-serif;
	background-color: white;
	border: 1px solid black;
}

.astute	{
	color: white;
	font-family: "Tangerine";
	font-size: 60px;
}

.barbara	{
	border: 1px solid black;
	margin: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.center	{
	text-align: center;
}

.paragraph	{
	font-size: 1.4em;
}

/*--Footer
-----------------------------------------------------------------*/

footer	{
	background-color: rgba(24,24,24, 0.5);
	padding-top: 10px;
	border-radius: 5px 5px 0 0;
}

footer ul	{
	list-style-type: none;
	text-align: center;
}

footer li	{
	font-family: 'Arimo', sans-serif;
	display:inline;
	padding: 5px;
}

footer li a {
    color: #a2b1b8;
}

footer ul>li>a:hover	{
	text-decoration: none;
	color: white;
}